body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #dfdfdf;
}
a{
  outline: none;
  text-decoration: none;
}

a:visited{
    color: #333756;
    text-decoration: none;
}

.main-container{
    width: 60%;
    height: 100%;
    background-color: #dfdfdf;
    
}

.addBook-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2em;
}

.title{
    background-color: #dfdfdf;
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: #333756;
}

button{
    padding: 0.1rem 0.5rem 0.2rem 0.5rem;
    border-radius: 25px;
    background-color: white;
    color: #333756;
    font-weight: 600;
    border: none;
    transition: 0.3s;
    outline: none;
}

button:hover{
    color: white;
    background-color: #333756;
}

.modal{
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 0px;
}

.bookButton{
    background-color: white;
    color: #333756;
    margin: 0.2rem 0.2rem;
    padding: 0.4em 0.4em;
    transition: 0.3s;
    height: 2em;
}

.bookButton:hover{
    background-color: #c6c6c6f3;
}

.form-container{
    padding: 2rem 2rem;
    border-radius: 15px;
    background: #333756;
    color: white;
    font-weight: 600;
    line-height: 3rem;
    position: relative;
    width: 30%;
    margin: 5em auto;

}

.books{
    background-color: #dfdfdf;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-container{
    color: white;
    background-color: #333756;
    border-radius: 15px;
    width: 35%;
    padding: 1em;
    margin: 10px;
}

.info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 10px 0px;
}

.bookButtons{
    display: flex;
    width: 80%;
}

.inputDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#statusDiv{
    display: inherit;
}